.navbar-light .navbar-toggler {
    background-color: #ffffff;
}


.navbar-toggler-icon {
    background-size: 70% 70%;
    margin-right:-4px;
}


.nav-font{
  font-size: 11pt;
  color:#333333;
  margin-right: -5px;
}

.navbar-toggler{
  padding:5px;
}

.navbar-light .navbar-toggler:focus{
  background-color:#d9d9d9;
}
