/*#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 1;
	width: 100%;
	padding: 0;
	margin:0;
}*/

/*.navbar{
	background-color: hsla(0, 100%, 50%, 0.3);
}*/

body{
	padding: 0;
	border: 0;
}

.dt_icon{
	/*max-width: 45%;*/
	/*max-width: 40%;*/
/*	width: 40%;*/
/*	width: 50%;*/
	max-height: 500px;
}

.menu_btn{


}

.menu_btn_div{
	margin-bottom: 2%;
	margin-top: 1%;
}

.act_col{
	padding: 0px;
}

.about_text h1, .about_text p{
	color: #FFFFFF;
}
/*.navbar {
  background: none;
}*/
.web_icon{
	width: 40px;
}

@media (max-width: 767px) {
  .about_text h1, .about_text p{
		text-align: center;
  }
}

.white-font{
	color: #FFFFFF;
}
/*.contact_us_header{
	position: absolute;
	top: 10%;
}*/


/*-------------------------*/
/* Blur + Gray Scale */
/* Opacity #1 */
.img-hover img{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.img-hover img:hover{
	opacity: .5;
}

img:hover+span {
	opacity: 1;
}

.img-hover span {
	position: absolute;
	top: 10%;
	left: 10%;
	z-index: 7;
	display: block;
	width: 100%px;
	margin: 0;
	padding: 0;
	color: #000000;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

/*---------------------*/
/* Font */
	.heading{
		font-family: 'Cabin Sketch', cursive;
		font-size: 30px;
	}
	
	.subtitle{
		font-family: 'Londrina Sketch', cursive;
		font-size: 30px;
	}
	
	.menubar{
		font-family: 'Coda', cursive;
	}
	
	.context{
		font-family: 'Coda', cursive;
	}
	
	.photo-text{
		font-family: 'Lobster', cursive;
		color: #c5d5cd;
	}
	
	.about_us_img{
		padding-top:50px;
		}
		
@media (max-width: 540px) {
  .about_us_img{
		padding-top:0px;
		}
}
		